examples/example.json
[
    {
        "id": "ab3bce79991eb47a",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41eb0323dd84a4c0",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C:\\Users\\pierr\\OneDrive\\Bureau\\testingapi\\fichier",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "28b3482308ec6478"
            ]
        ]
    },
    {
        "id": "79090246107cd1b6",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "906efda6a48fefea",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "57c39dd8e9324238"
            ]
        ]
    },
    {
        "id": "764bad22d0fdc2c7",
        "type": "split",
        "z": "ab3bce79991eb47a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "79090246107cd1b6"
            ]
        ]
    },
    {
        "id": "695daee3ee6d02db",
        "type": "comment",
        "z": "ab3bce79991eb47a",
        "name": "Get all posts",
        "info": "",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "2103a85f6ced42a0",
        "type": "comment",
        "z": "ab3bce79991eb47a",
        "name": "Delete one post",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "700443cb20b3d95b",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "28b3482308ec6478",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "posts",
        "method": "GET ALL & FILTER",
        "complexPayload": [],
        "filters": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "764bad22d0fdc2c7",
                "79090246107cd1b6"
            ]
        ]
    },
    {
        "id": "57c39dd8e9324238",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "method": "GET",
        "filters": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "700443cb20b3d95b"
            ]
        ]
    },
    {
        "id": "1fe956f425912425",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C:\\Users\\pierr\\OneDrive\\Bureau\\testingapi\\fichier",
        "payloadType": "str",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "9b296dd49361e705"
            ]
        ]
    },
    {
        "id": "6d48fcc3ff99d382",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "0aa57ac94b1d84f8",
        "type": "split",
        "z": "ab3bce79991eb47a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "6d48fcc3ff99d382"
            ]
        ]
    },
    {
        "id": "4c072fe5fc2584c2",
        "type": "comment",
        "z": "ab3bce79991eb47a",
        "name": "Get all posts",
        "info": "",
        "x": 150,
        "y": 560,
        "wires": []
    },
    {
        "id": "9b296dd49361e705",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "method": "GET",
        "filters": [
            {
                "filterKey": "Message containing",
                "filterOperator": "===",
                "filterValue": "test",
                "filterValueType": "str"
            },
            {
                "filterKey": "Id",
                "filterOperator": ">",
                "filterValue": "4",
                "filterValueType": "num"
            }
        ],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "0aa57ac94b1d84f8",
                "6d48fcc3ff99d382"
            ]
        ]
    },
    {
        "id": "26b68557e74d73d9",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Download",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2d0e3ef02d39d701"
            ]
        ]
    },
    {
        "id": "2d0e3ef02d39d701",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "files",
        "method": "GET ONE",
        "complexPayload": [
            {
                "value": "C:\\Users\\pierr\\OneDrive\\Bureau\\testingapi\\fichier",
                "type": "str",
                "name": "Destination's path"
            },
            {
                "value": "31",
                "type": "num",
                "name": "File's id"
            }
        ],
        "filters": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "7e0a617df362a4ee"
            ]
        ]
    },
    {
        "id": "7e0a617df362a4ee",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d2daf57e4c0ded6",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Get one post",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "108eee411c10d88a"
            ]
        ]
    },
    {
        "id": "108eee411c10d88a",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "posts",
        "method": "GET ONE",
        "complexPayload": [
            {
                "value": "23",
                "type": "num",
                "name": "Post's id"
            }
        ],
        "filters": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "3e512d22c59b02c4"
            ]
        ]
    },
    {
        "id": "3e512d22c59b02c4",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a537e0f7f7d53b9",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Create post",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "a32a3ffcb606e84f"
            ]
        ]
    },
    {
        "id": "a32a3ffcb606e84f",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "posts",
        "method": "CREATE",
        "complexPayload": [
            {
                "value": "2",
                "type": "num",
                "name": "Container's id"
            },
            {
                "value": "nouveau mess",
                "type": "str",
                "name": "Message"
            },
            {
                "value": "",
                "type": "str",
                "name": "Scheduled at"
            },
            {
                "value": "topito",
                "type": "str",
                "name": "Topics"
            }
        ],
        "filters": [],
        "x": 390,
        "y": 40,
        "wires": [
            [
                "ddcae89c24a2712d"
            ]
        ]
    },
    {
        "id": "ddcae89c24a2712d",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "07d8f9b857cdf6a7",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Update post",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 40,
        "wires": [
            [
                "18d40f88ebf999f1"
            ]
        ]
    },
    {
        "id": "18d40f88ebf999f1",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "posts",
        "method": "UPDATE",
        "complexPayload": [
            {
                "value": "24",
                "type": "num",
                "name": "Post's id"
            },
            {
                "value": "nouveau message updated",
                "type": "str",
                "name": "Message"
            },
            {
                "value": "",
                "type": "str",
                "name": "Scheduled at"
            },
            {
                "value": "topito2",
                "type": "str",
                "name": "Topics"
            }
        ],
        "filters": [],
        "x": 1050,
        "y": 40,
        "wires": [
            [
                "c9498f4172e10528"
            ]
        ]
    },
    {
        "id": "c9498f4172e10528",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 40,
        "wires": []
    },
    {
        "id": "a124204fe3686048",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Delete post",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "b52435f74eb8b1aa"
            ]
        ]
    },
    {
        "id": "b52435f74eb8b1aa",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "posts",
        "method": "DELETE",
        "complexPayload": [
            {
                "value": "24",
                "type": "num",
                "name": "Post's id"
            }
        ],
        "filters": [],
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "a913fcb4cdadda3c"
            ]
        ]
    },
    {
        "id": "a913fcb4cdadda3c",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 100,
        "wires": []
    },
    {
        "id": "4411e38491782714",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "GET all topics",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "a8bf9f8707c6795b"
            ]
        ]
    },
    {
        "id": "a8bf9f8707c6795b",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "topics",
        "method": "GET ALL",
        "complexPayload": [],
        "filters": [],
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "0a886110c2d66c6d"
            ]
        ]
    },
    {
        "id": "0a886110c2d66c6d",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "08798d7359edddbc",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Delete Topic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 300,
        "wires": [
            [
                "d89f5e7491758e58"
            ]
        ]
    },
    {
        "id": "d89f5e7491758e58",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "topics",
        "method": "DELETE",
        "complexPayload": [
            {
                "value": "2",
                "type": "num",
                "name": "Topic's id"
            }
        ],
        "filters": [],
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "74c40ef6a86c5f75"
            ]
        ]
    },
    {
        "id": "74c40ef6a86c5f75",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e886881e622f458",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "Update Topic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 380,
        "wires": [
            [
                "f233533e174e3dbd"
            ]
        ]
    },
    {
        "id": "f233533e174e3dbd",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "topics",
        "method": "UPDATE",
        "complexPayload": [
            {
                "value": "3",
                "type": "num",
                "name": "Topic's id"
            },
            {
                "value": "wdxfc",
                "type": "str",
                "name": "New name"
            }
        ],
        "filters": [],
        "x": 1150,
        "y": 380,
        "wires": [
            [
                "d4132c0a811c89a3"
            ]
        ]
    },
    {
        "id": "d4132c0a811c89a3",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "22573e03af4b7fd4",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "create Topic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 460,
        "wires": [
            [
                "0bc72d2870472274"
            ]
        ]
    },
    {
        "id": "0bc72d2870472274",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "topics",
        "method": "CREATE",
        "complexPayload": [
            {
                "value": "2",
                "type": "num",
                "name": "Container's id"
            },
            {
                "value": "newwww",
                "type": "str",
                "name": "Topic's name"
            }
        ],
        "filters": [],
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "26deb0c982b4cb74"
            ]
        ]
    },
    {
        "id": "26deb0c982b4cb74",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 460,
        "wires": []
    },
    {
        "id": "1d509fd357469e1d",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "create comment",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 600,
        "wires": [
            [
                "24fee4012edecbe8"
            ]
        ]
    },
    {
        "id": "24fee4012edecbe8",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "CREATE",
        "complexPayload": [
            {
                "value": "23",
                "type": "num",
                "name": "Post's id"
            },
            {
                "value": "coucoucou",
                "type": "str",
                "name": "Message"
            }
        ],
        "filters": [],
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "e85bebd5dbe50d57"
            ]
        ]
    },
    {
        "id": "e85bebd5dbe50d57",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2fff25d3b361264",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "get comm by id",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "a8ddcbdf1f231ae3"
            ]
        ]
    },
    {
        "id": "a8ddcbdf1f231ae3",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "GET ONE BY ID",
        "complexPayload": [
            {
                "value": "9",
                "type": "num",
                "name": "Comment's id"
            }
        ],
        "filters": [],
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "9e7d4cc78050da93"
            ]
        ]
    },
    {
        "id": "9e7d4cc78050da93",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 680,
        "wires": []
    },
    {
        "id": "046c2951c2727323",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "get comm by post",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 760,
        "wires": [
            [
                "6025f9778a2f6788"
            ]
        ]
    },
    {
        "id": "6025f9778a2f6788",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "GET ALL BY POST",
        "complexPayload": [
            {
                "value": "23",
                "type": "num",
                "name": "Post's id"
            }
        ],
        "filters": [],
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "1e7bb11b0a8bfb51"
            ]
        ]
    },
    {
        "id": "1e7bb11b0a8bfb51",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "14f2b3e9792f2654",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "get comm by object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 840,
        "wires": [
            [
                "921d35499bca2c2e"
            ]
        ]
    },
    {
        "id": "921d35499bca2c2e",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "GET ALL BY CONTENT",
        "complexPayload": [
            {
                "value": "64",
                "type": "num",
                "name": "Content's id"
            }
        ],
        "filters": [],
        "x": 1170,
        "y": 840,
        "wires": [
            [
                "d5d6dd20fe5dc287"
            ]
        ]
    },
    {
        "id": "d5d6dd20fe5dc287",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 72",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 840,
        "wires": []
    },
    {
        "id": "c177588f9a49d39b",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "delete com",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 920,
        "wires": [
            [
                "2f903e7f85b3a35f"
            ]
        ]
    },
    {
        "id": "2f903e7f85b3a35f",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "DELETE",
        "complexPayload": [
            {
                "value": "9",
                "type": "num",
                "name": "Comment's id"
            }
        ],
        "filters": [],
        "x": 1190,
        "y": 920,
        "wires": [
            [
                "42f69ff9d571913e"
            ]
        ]
    },
    {
        "id": "42f69ff9d571913e",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 920,
        "wires": []
    },
    {
        "id": "66bc7425d238d6b0",
        "type": "inject",
        "z": "ab3bce79991eb47a",
        "name": "delete com",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "04a264fdcfb3e676"
            ]
        ]
    },
    {
        "id": "04a264fdcfb3e676",
        "type": "humhub-services",
        "z": "ab3bce79991eb47a",
        "creds": "81739e70269d8278",
        "content": "comments",
        "method": "UPDATE",
        "complexPayload": [
            {
                "value": "9",
                "type": "num",
                "name": "Comment's id"
            },
            {
                "value": "new coucou",
                "type": "str",
                "name": "Message"
            }
        ],
        "filters": [],
        "x": 1210,
        "y": 980,
        "wires": [
            [
                "e9e5aae9de94fa53"
            ]
        ]
    },
    {
        "id": "e9e5aae9de94fa53",
        "type": "debug",
        "z": "ab3bce79991eb47a",
        "name": "debug 74",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 980,
        "wires": []
    }
]